*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Teachers", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #000;
}

.br-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 0;
}

.txt-logo{
    padding-left: 4%;
}

.txt-logo p{
    color: #fff;
    font-size: 30px;
    font-family: "Montserrat Alternates", sans-serif;  
}

.txt-logo p span{
    color: #ff4545;
    font-size: 35px;
}

.br-nav{
    background-color: #18181831;
}

.br-nav nav{
    padding-right: 4%;
}

.br-nav nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.br-nav nav ul li{
    list-style: none;
    
}

.br-nav nav ul li a{
    color: #929292;
    text-decoration: none;
    transition: .3s;
    font-size: 18px;
    display: inline-block;
}

.br-nav nav ul li a:hover{
    color: #fff;
    transform: scale(1.1);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    
}

.container-main{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 30px;
}

.container-main h1{
    color: #ffffff;
    font-size: 45px;
    outline: none;
    font-style: italic;
    padding: 18px;
}

.txt-tbn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt-tbn button.btn-lista{
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    transition: .5s;
    cursor: pointer;
}

.txt-tbn button.btn-lista:hover{ 
    background-color: #ff4545;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #ff4545; 
}

.txt-tbn button.btn-insta{
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

.txt-tbn button.btn-insta:hover{ 
    background-color: #ff4545;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #ff4545; 
}

.txt-tbn button.btn-insta a i{
    color: #000;
    font-size: 30px;
    padding-left:8px;
}

.img-main img{
    height: 400px;
    border-radius: 20px;
    border-style: dashed;
    opacity: .8;
}

.agenda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.agenda h2{
    font-size: 35px;
    color: #fff;
    text-align: center;
}

.container-box{
    display: flex;
    align-items: center;
    gap: 60px;
}

.container-box img{
    width: 300px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: .5s;
    outline: none;
}

.container-box img:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(222, 221, 221, 0.552) ;
}

section.local{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}

.localizar{
    color: #fff;
}

.localizar h2{
    margin-bottom: 15px;
    font-size: 28px;
}

.localizar img{
    border-radius: 10px;
}

.fale-conosco{
    color: #fff;
    gap: 10px;
}

.fale-conosco h2{
    margin-top: 15px;
    margin-bottom: 5px;
}
.btn-whats{
    border: none;
    background-color: #3eff78;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 8px;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: .4s;
}

.btn-whats:hover{
    background-color: #28ee64;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #3eff78; 
}

footer .foot{
    color: #fff;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18181831;
}